body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  background: #edeef0;
}

.header {
  position: fixed;
  height: 42px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 120;
}

.header .back {
  position: absolute;
  width: 100%;
  background: #4a76a8;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #4872a3;
}

.header .content {
  width: 960px;
  position: relative;
  height: 42px;
  margin: 0 auto;
  font-size: 12.5px;
  padding: 0 15px;
}

.header .content .logo-div {
  float: left;
  width: 165px;
  height: 42px;
  display: block;
}

.header .content .logo-div .logo-top {
  background: url(./src/static/ic_head_logo.svg) no-repeat 50%/contain;
  height: 19px;
  width: 34px;
  margin: 11px 10px 0 0;
}

.header .content .search-div input {
  float: left;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 6px 6px 19px;
  margin: 7px 0;
  height: 28px;
  line-height: 16px;
  width: 230px;
  border-radius: 14px;
  background: #224b7a url(./src/static/ic_head_loupe.svg) no-repeat;
  padding-left: 19px;
  border-left: 8px solid transparent;
  background-position: left 8px;
  color: #d9e2ec;
}

.header .content .search-div input:focus {
  background-color: #fff;
  color: #000;
}

.header .content .nav-items-div {
  padding-left: 15px;
  float: left;
}

.header .content .nav-items-div .icon {
  color: #fff;
  margin: 11px auto;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.header .content .nav-items-div .bell-div {
  width: 46px;
  display: inline-block;
  position: relative;
}

.header .content .nav-items-div .bell-div:hover {
  background-color: #3d6898;
}

.header .content .nav-items-div .bell-div:hover .bell-notify {
  border-color: #3d6898;
}

.header .content .nav-items-div .bell-div .bell-icon {
  background-image: url(./src/static/bell.svg);
}

.header .content .nav-items-div .bell-div .bell-notify {
  padding: 1px 4px;
  border: 2px solid #4a76a8;
  border-radius: 12px;
  color: #fff;
  font-size: 9px;
  height: 11px;
  line-height: 11px;
  min-width: 5px;
  top: 6px;
  left: 21px;
  background-color: #ff734c;
  text-align: center;
  position: absolute;
  border-color: #4a76a8;
}

.header .content .nav-items-div .top-audio-div {
  display: inline-block;
  height: 42px;
}

.header .content .nav-items-div .top-audio-div:hover {
  background-color: #3d6898;
}

.header .content .nav-items-div .top-audio-div .top-audio-icon {
  position: relative;
  display: inline-block;
  width: 42px;
  padding: 0;
  background-image: url(./src/static/ic_head_audio.svg);
}

.header .content .nav-items-div .top-audio-div .top-audio-play {
  position: relative;
  height: 42px;
  display: inline-block;
  vertical-align: top;
}

.header .content .nav-items-div .top-audio-div .top-audio-play .top-audio-play-icon {
  position: absolute;
  display: block;
  -webkit-appearance: none;
  cursor: pointer;
  width: 22px;
  top: 11px;
  height: 20px;
  border: none;
  border-radius: 3px;
  background-color: #224b7a;
  overflow: visible;
}

.header .content .nav-items-div .top-audio-div .top-audio-play .top-audio-play-icon::before {
  position: absolute;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #224b7a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
  left: -2px;
  border-radius: 1px;
}

.header .content .nav-items-div .top-audio-div .top-audio-play .top-audio-play-icon::after {
  display: block;
  content: '';
  position: absolute;
  width: 7px;
  height: 10px;
  top: 5px;
  left: 8px;
  background: url(./src/static/ic_head_audio_play.svg) no-repeat;
}

.header .content .top-profile {
  float: right;
  padding: 0 10px;
}

.header .content .top-profile:hover {
  background-color: #3d6898;
}

.header .content .top-profile .profile-name {
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  line-height: 42px;
  font-weight: 700;
  color: #fff;
}

.header .content .top-profile .top-profile-img {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  margin: 7px 0;
}

.content {
  width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.content .left-column {
  top: 0px;
  width: 149px;
  top: 0;
  z-index: 11;
  position: relative;
  float: left;
  margin-top: 42px;
}

.content .left-column .left-colmn-content {
  z-index: 10;
  width: 149px;
  padding: 15px 0 10px;
}

.content .left-column .left-colmn-content ol {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.content .left-column .left-colmn-content ol li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.content .left-column .left-colmn-content ol li:hover {
  background-color: #e1e5eb;
}

.content .left-column .left-colmn-content .icon {
  float: left;
  display: block;
  width: 35px;
  height: 25px;
  opacity: 0.75;
}

.content .left-column .left-colmn-content .icon-home {
  background: url(./src/static/icons_menu.svg) no-repeat 7px 5px;
}

.content .left-column .left-colmn-content .icon-news {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -917px;
}

.content .left-column .left-colmn-content .icon-messages {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -21px;
}

.content .left-column .left-colmn-content .icon-friends {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -77px;
}

.content .left-column .left-colmn-content .icon-groups {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -105px;
}

.content .left-column .left-colmn-content .icon-photos {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -133px;
}

.content .left-column .left-colmn-content .icon-music {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -161px;
}

.content .left-column .left-colmn-content .icon-video {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -189px;
}

.content .left-column .left-colmn-content .icon-game {
  background: url(./src/static/icons_menu.svg) no-repeat 7px -217px;
}

.content .left-column .left-colmn-content .menu-text {
  color: #285473;
  display: block;
  height: 28px;
  line-height: 27px;
  font-size: 12.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: baseline;
}

.content .body {
  width: 795px;
  font-size: 13px;
  margin-top: 42px;
  float: right;
}

.content .body .narrow {
  float: left;
  margin-top: 0px;
  width: 230px;
}

.content .body .narrow .photo-div {
  padding: 15px;
  font-size: 12.5px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
          box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
}

.content .body .narrow .photo-div .photo {
  position: relative;
}

.content .body .narrow .photo-div .photo .photo-bubble {
  background-color: rgba(29, 32, 34, 0.7);
  display: none;
  height: 79px;
  position: relative;
  overflow: hidden;
  height: 79px;
  width: 200px;
  margin: -58px 0 2px;
  margin-top: -81px;
}

.content .body .narrow .photo-div .photo .photo-bubble .element {
  font-size: 12.5px;
  padding: 5px 10px;
  height: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.content .body .narrow .photo-div .photo .photo-bubble .element .el1 {
  background: url(./src/static/edit_photo_icons_white.png?2) no-repeat;
  background-position: left 1px;
  padding: 0 0 1px 24px;
}

.content .body .narrow .photo-div .photo .photo-bubble .element .el2 {
  background: url(./src/static/edit_photo_icons_white.png?2) no-repeat;
  background-position: left -16px;
  padding: 0 0 1px 24px;
}

.content .body .narrow .photo-div .photo .photo-bubble .element .el3 {
  background: url(./src/static/edit_photo_icons_white.png?2) no-repeat;
  background-position: left -34px;
  padding: 0 0 1px 24px;
}

.content .body .narrow .photo-div .photo:hover .photo-bubble {
  display: block;
}

.content .body .narrow .photo-div img {
  vertical-align: top;
  border-radius: 2px;
  width: 200px;
  height: 200px;
}

.content .body .main {
  margin-left: 285px;
}

.content .body .main .content {
  float: right;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
          box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
  padding: 15px 20px;
}

.content .body .main .content .top .online {
  float: right;
  font-size: 12.5px;
  margin-top: 5px;
  padding-left: 10px;
  line-height: 18px;
  color: #939393;
}

.content .body .main .content .top h2 {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  margin: -1px 0 -1px -1px;
}

.content .body .main .content .top .status {
  padding: 3px 0 1px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.content .body .main .content .short-info {
  padding-top: 10px;
  line-height: 150%;
}

.content .body .main .content .short-info .info {
  padding-top: 5px;
}

.content .body .main .content .short-info .info .l {
  width: 165px;
  color: #828282;
  float: left;
}

.content .body .main .content .short-info .info .r {
  unicode-bidi: embed;
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
}

.content .body .main .content .full-profile {
  display: block;
  padding-left: 165px;
  margin: 10px 0 -5px;
  border-radius: 4px;
  height: 34px;
  line-height: 32px;
  color: #2a5885;
  margin: 15px 0;
}

.content .body .main .content .full-profile:hover {
  background-color: #f0f2f5;
  text-decoration: none;
}

.content .body .main .content .count-modules {
  text-align: center;
  border-top: 1px solid #e7e8ec;
  max-height: 69px;
  overflow: hidden;
}

.content .body .main .content .count-modules .page-counter {
  display: inline-block;
  padding: 15px;
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.content .body .main .content .count-modules .page-counter .count {
  font-size: 19px;
  color: #42648b;
  padding-bottom: 3px;
  line-height: 21px;
}

.content .body .main .content .count-modules .page-counter .label {
  line-height: 15px;
  color: #828282;
}
/*# sourceMappingURL=app.css.map */